/* You can add global styles to this file, and also import other style files */

/* Sticky footer setup */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

/* Leaflet map fixes */
.leaflet-container {
  height: 100%;
  width: 100%;
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  position: absolute;
  left: 0;
  top: 0;
}

.leaflet-marker-icon,
.leaflet-marker-shadow {
  display: block;
}
